<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This text is about me to let you understand more about me, Thank you!!</p>
            <img src="/img/dummy.png" alt="" style="width: 250px;" >
            <p>{{name}}</p>
        </div>

        {{>footer}}
    </body>
</html>